{% extends "_admin_base.j2" %}

{% macro render_field(field) %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <br>
{% endmacro %}

{% block title %}edit{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('edit', slug=page.slug) }}">
        {{ render_field(form.slug) }}
        {{ render_field(form.title) }}
        {{ render_field(form.keywords) }}
        {{ render_field(form.description) }}
        {{ render_field(form.body) }}
        <input type="submit" value="Save">
        <input type="button" value="Preview" onclick="window.location='{{ url_for('preview', slug=page.slug) }}'">
    </form>
	<script>CKEDITOR.replace('body')</script>
{% endblock %}
