<!DOCTYPE html>

<html lang="en-us"
class="no-js">
<head>
<meta charset="utf-8">

<title>{{ title }}</title>
<meta name="keywords" content="{{ keywords }}">
<meta name="description" content="{{ description }}">
{% for meta_tag in meta %}
<meta name="{{ meta_tag.id }}" content="{{ meta_tag.content }}">
{% endfor %}
<meta name="GOOGLEBOT"
content="INDEX, FOLLOW"><!-- START CUT HERE -->
<meta name="viewport"
content="width=device-width">
<link rel="author"
href="https://plus.google.com/+alternatorman">
<link href="https://plus.google.com/+alternatorman" rel="publisher">
</head>

<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="fb-root"></div>

{% include '_header.j2' %}

<div id="gridbody"
    class="container">
    {% block content %}
        {{ body|safe }}
    {% endblock %}
</div>

{% include '_footer.j2' %}

<script type="text/javascript" async src="/js/jQl.min.js"></script>
<script type="text/javascript" async src='/js/main.min.js'></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://alternatorparts.com/analytics/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "1"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-251433-19', 'alternatorparts.com');
  ga('send', 'pageview');
</script>
<script type="text/javascript">
window.google_analytics_uacct = "UA-251433-19";
</script>
</body>
</html>
