<div id="header"
    class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            Alternators By
        </div>

        <div class="col-md-7">
            <hr style="margin: .5em 0;">
        </div>

        <div class="col-md-2">
            <a rel='nofollow' href="https://twitter.com/alternatorman">
                <img src="/img/twitter.png" alt="Find AlternatorMan on twitter @AlternatorMan">
            </a>
            <a rel='nofollow' href="https://www.facebook.com/alternatorman">
                <img src="/img/facebook.png" alt="Find AlternatorMan on facebook">
            </a>
            <a href="https://plus.google.com/+alternatorman" rel='publisher'>
                <img src="/img/google+.png" alt="Find AlternatorMan on Google+">
            </a>
            <a rel='nofollow' href="https://www.youtube.com/alternatorman">
                <img src="/img/youtube.png" alt="Find AlternatorMan on YouTube">
            </a>
            <a rel='nofollow' href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Falternatorparts.com%2">
                <img src="/img/stumble.png" alt="Stumble AlternatorMan on StumbleUpon">
            </a>
            <a rel='nofollow' href="mailto:info@alternatorparts.com">
                <img src="/img/email.png" alt="Email AlternatorMan at info@alternatorparts.com">
            </a>
        </div>
    </div>

    <div class="row">
    <div class="col-md-3 text-center"><br><a href='/'><img style="margin: 0 auto;"
    class="img-responsive"
    alt="Quick Start Logo"
    id="logo"
    src="img/logo.png"></a></div>

        <div class="col-md-7">
            <span class="two">Quick Start Automotive Electric&trade;</span>
            <br>
            <span class="four"><span class="blue phone">Call <a rel="nofollow" href="tel:+16166065045">1-616-606-5045</a></span> | E-mail: <a href= 
                    "mailto:info@qsalts.com">info@QSALTS.com</a></span>
            <br>
            <span class="one">#1 High Output Alternator, Stock Amperage, Starters
                and more!
                <br>
                <strong><em>"OVER 40 YEARS AUTO ELECTRIC EXPERIENCE in the
                        USA"</em></strong></span>
            <br>
            <span class="three">Top, Free Information for Charging &amp; Starting
                System Troubleshooting</span>
            <br>
            <span class="five">9:00 AM - 6:00 PM Monday - Friday, Eastern Standard
                Time Zone</span>
            <br>
        </div>

        <div class="col-md-2 text-center"><br><img style="margin: 0 auto;"
            class="img-responsive"
            src="img/american%20flag.png"
            alt="american flag"
            width="80"></div>
    </div><!-- /.row -->

    <nav class="navbar navbar-default col-md-12" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#alternatorparts-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
            <a rel='start' class="navbar-brand" href="/">Main Menu (Home)</a>
        </div>
        <div class="collapse navbar-collapse" id="alternatorparts-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                <a href="http://faqs.alternatorparts.com">Q &amp; A Blog</a>
                </li>

                <li>
                <a rel='nofollow' href="http://www.youtube.com/alternatorman">Videos</a>
                </li>

                <li>
                <a rel='nofollow' href="http://asktherebuilder.com">Forum</a>
                </li>

                <li>
                <a href="/warranty-return-policy.html">Sales Policy</a>
                </li>

                <li>
                <a href="/contact-info.html">Contact Us</a>
                </li>
            </ul>

            <form class="navbar-form navbar-right form-inline"
                role="search"
                action="/search"
                method="get">
                <div class="form-group">
                    <label for="query" class="sr-only">Search Pages:</label>
                    <input class="form-control" type="search" name="query" id="query" placeholder="Search Pages">
                </div>
                <input type="hidden" name="search" value="1">
                <button class="btn btn-danger btn-sm" type="submit">Search</button> 
            </form>
            <br class="clear">

            <form class="navbar-form navbar-right form-inline"
                action="http://store.alternatorparts.com/search.aspx"
                method="get"
                id="ProductSearch"
                name="ProductSearch">
                <div class="form-group">
                    <label for="find" class="sr-only">Search Parts:</label>
                    <input class="form-control" type="search" id="find" name="find" placeholder="Search Parts">
                </div>
                <button class="btn btn-danger btn-sm" type="submit">Advanced</button>
            </form>
        </div>
    </nav><!-- /.navbar -->
</div><!-- /#header.container -->
