{% macro _tagbox(linklist) %}
<div class='well tagbox'>
    <ol>
        {% for link in linklist %}
        <li>
            <a href="{{ link.href }}">{{ link.text }}</a>
            {% if link.note%}
                {{ link.note }}
            {% endif %}
            </li>
        {% endfor %}
    </ol>
</div>
{% endmacro %}
