{% macro tagbox(linklist) %}
<div class='well tagbox'>
    <ol>
        {% for link in linklist %}
        <li>
            <a href="{{ link.href }}">{{ link.text }}</a>
            {% if link.note%}
                {{ link.note }}
            {% endif %}
            </li>
        {% endfor %}
    </ol>
</div>
{% endmacro %}

{% macro figure(figinfo) %}
    <div class='well col-md-6 col-md-offset-3'>
        {% if figinfo.caption %}
        <legend>
            {{ figinfo.caption|smartypants }}
        </legend>
        {% endif %}
        <center><img class='img-responsive' alt='{{ figinfo.alt }}' src='{{ figinfo.src }}'></center>
    </div>
{% endmacro %}

{% macro product_table(product_set) %}
<table class="table table-striped product-list">
    <thead>
        <tr>
            <th colspan="4">
                {{ product_set.title }}
            </th>
        </tr>
        <tr>
            <th>
                name
            </th>
            <th>
                description
            </th>
            <th>
                price
            </th>
            <th>
                add to cart
            </th>
        </tr>
    </thead>
    <tbody>
    {% for product in product_set.products %}
        <tr>
            <td>
                <b>{{ product.name }}</b>
            </td>
            <td>
                <p>
                {{ product.description }}
                </p>
            </td>
            <td>
                <b class='red'>{{ product.price }}</b>
            </td>
            <td>
                <form action="{{ product.url }}" method="post">
                    <input name="addtocart" src="http://store.alternatorparts.com/themes/migration-1/images/buttons/cart_btn_add.gif" type="image"/>
                    <input src="http://store.alternatorparts.com/themes/migration-1/images/buttons/cart_btn_view.gif" type="image"/>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}
